<!-- views/partials/footer.ejs -->
<div id="footer-conteiner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="copy-container text-center">
          <p>
            &copy;<%= new Date().getFullYear() %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>