<div id="contact-page-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <section id="contact-content">
          <h1>Contactos</h1>
          <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione voluptatum enim eligendi repellat est. Corporis tempora minus officiis placeat quibusdam porro dicta? Ratione ipsa quasi recusandae rerum autem rem corrupti!</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione voluptatum enim eligendi repellat est. Corporis tempora minus officiis placeat quibusdam porro dicta? Ratione ipsa quasi recusandae rerum autem rem corrupti!</p>
              <div class="contacts-content">
                <div class="social">
                  <h4>Redes Sociais</h4>
                  <a href="#" target="_blank">
                    <i class="fab fa-facebook"></i>
                  </a>
                  <a href="#" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
                <div class="email">
                  <h4>Email</h4>
                  <a href="mailto:contact@geral.com">contact@geral.com</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>