<div id="home-page-container">
  <section id="slider-container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('/images/home/slider/home-image-1.jpg')">
        </div>
        <div class="swiper-slide" style="background-image: url('/images/home/slider/home-image-0.jpg')">
        </div>
        <div class="swiper-slide" style="background-image: url('/images/home/slider/home-image-2.jpg')">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <!-- -->
  <section id="about-container">
    <div class="container">
      <div class="row">
        <div class="co-12 col-sm-4 col-md-3 offset-md-1 text-sm-right">
          <div class="about-image">
            <img src="https://placehold.it/200x200?text=Photo" alt="photo">
          </div>
        </div>
        <div class="col-12 col-sm-8 col-md-7">
          <div class="about-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum quas, quisquam, accusamus numquam in facilis corporis culpa tempora ratione, illo sit sequi reprehenderit est? Esse, iste? Dolore, corporis iure?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum quas, quisquam, accusamus numquam in facilis corporis culpa tempora ratione, illo sit sequi reprehenderit est? Esse, iste? Dolore, corporis iure?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -->
  <hr class="line-group">
  <!-- -->
  <section id="content-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content-cards">
            <a href="/blog" class="content-card">
              <h4>Blog</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </a>
            <a href="/projects" class="content-card">
              <h4>Projects</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section id="contacts-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
          <a href="/contacts" class="btn -btn">Contactos</a>
        </div>
      </div>
    </div>
  </section>
</div>
