// Fonts
$font-family: 'Montserrat';

// Colors
$color: #50935e;
$color-darker: #26442c;
$color-lighter: #55b169;

$color-secondary: #866544;
$color-secondary-darker: #5f4832;
$color-secondary-lighter: #be8b58;

$color-gray: #999;
$color-gray-darker: #4d4d4d;
$color-gray-lighter: #e5e5e5;

// Others
$text-color: #333333;
// #1a1f23;
$text-color-lighter: #707070;
$background: #f7f9fb;
