@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/scss/fonts/lato/Lato-Light.ttf")
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/scss/fonts/lato/Lato-LightItalic.ttf")
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/scss/fonts/lato/Lato-Regular.ttf")
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/scss/fonts/lato/Lato-Italic.ttf")
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/scss/fonts/lato/Lato-Bold.ttf")
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/scss/fonts/lato/Lato-BoldItalic.ttf")
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  src: url("/assets/scss/fonts/lato/Lato-Black.ttf")
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: italic;
  src: url("/assets/scss/fonts/lato/Lato-BlackItalic.ttf")
}
