
.card-user {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  padding: 8px 10px;
  min-width: 200px;;
  margin-right: 10px;
  margin-bottom: 10px;
  &.current-user {
    background: rgba($color: #008453, $alpha: 0.3);
  }
  .name {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .email {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 300;
  }
  .role {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
  }
  .role-options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    text-decoration: underline;
    color: #999;
    font-weight: 300;
    cursor: pointer;
  }
}
