.dashboard-page-container {
  &#users-container {
    .dashboard-list-content {
      display: flex;
      flex-wrap: wrap;
      /*@media (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }*/
    }
  }
  .role-section {
    margin-top: 15px;
    .role-section-title {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  &#users-edit-container {
    .dashboard-top-content {
      button {
        color: $color-gray-darker;
        padding-left: 0;
      }
    }
  }
}

