<div class="dashboard-page-container py-3" id="dossiers-create-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="dashboard-top-content mb-3">
          <button class="btn btn-link" (click)="openBackConfirmation(modalTemplateBackConfirmation)"><i class="fas fa-chevron-left"></i> Voltar</button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="dossier-form">
          <form
            novalidate
            (ngSubmit)="saveDossier()"
            [formGroup]="dossierForm"
            class="dossier-form">
            <div class="form-group">
              <label for="title">Título</label>
              <input class="form-control" id="title" formControlName="title" type="text" required
                    [ngClass]="{'is-invalid' : !dossierForm.controls['title'].valid && dossierForm.controls['title'].touched }">
            </div>
            <div class="form-group">
              <label for="description">Descrição</label>
              <textarea class="form-control" id="description"  formControlName="description" required
                    [ngClass]="{'is-invalid' : !dossierForm.controls['description'].valid && dossierForm.controls['description'].touched }"></textarea>
            </div>
            <div class="form-group">
              <label for="image">Imagem</label>
              <div class="feature-image-preview d-flex">
                <div class="img-preview d-flex justify-content-center align-items-center">
                  <img
                    *ngIf="imageChange && dossierForm.controls['image'].value != ''"
                    src="{{dossierForm.controls['image'].value}}"
                    alt="feature-image" class="img-fluid">
                </div>
                <input class="form-control" id="image"  formControlName="image" required
                      [ngClass]="{'is-invalid' : !dossierForm.controls['image'].valid && dossierForm.controls['image'].touched }">
              </div>
            </div>
            <div class="form-group">
              <label for="type">Tipo</label>
              <ng-select
                [items]="dossierTypes"
                bindLabel="description"
                bindValue="id"
                formControlName="type" id="type" required [ngClass]="{'is-invalid' : !dossierForm.controls['type'].valid && dossierForm.controls['type'].touched }">
              </ng-select>
            </div>
            <button
              type="submit"
              class="btn -btn"
              [disabled]="!dossierForm.valid">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTemplateBackConfirmation>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalBackConfirmation.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Descartar todos os valores?</p>
    <button type="button" class="btn -btn-secondary mr-2" (click)="confirm()" >Sim</button>
    <button type="button" class="btn -btn" (click)="decline()" >Não</button>
  </div>
</ng-template>
