<div class="container d-flex justify-content-center align-items-center" id="login-container">
  <div class="row py-3 justify-content-center">
    <div class="col-12 text-center">
      <h1>Torterra</h1>
    </div>
    <div class="col-11 col-sm-10 col-md-8">
      <form
        novalidate
        (ngSubmit)="login()"
        [formGroup]="loginForm">
        <div class="forn-group">
          <label for="email">Email</label>
          <input formControlName="email" type="email" id="email" class="form-control"
            required
            [ngClass]="{'is-invalid' : !loginForm.controls['email'].valid && loginForm.controls['email'].touched}">
        </div>
        <div class="forn-group mt-3">
          <label for="password">Password</label>
          <input formControlName="password" type="password" id="password" class="form-control"
          required
          [ngClass]="{'is-invalid' : !loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
        </div>
        <button type="submit"
          class="btn -btn mt-4 mb-1 d-block mx-auto"
          [disabled]="!loginForm.valid">Entrar</button>
      </form>
    </div>
    <div class="col-12 text-center">
      <div class="recover">
        <a routerLink="/auth/recover">Recuperar password!</a>
      </div>
    </div>
  </div>
</div>
